/* Change color of Section Names */
.wy-nav-side {
	color:#55a5d9;
}

/* Fix nexted lists spacing */
ol > li > ul {
	margin-bottom:12px !important;
}

ul > li > ul {
	margin-bottom:12px !important;
}

/* Fix list spacing in admonitions */
.admonition ul {
	margin-bottom: 0px !important;
}

.admonition ul > li > ul {
	margin-bottom: 12px !important;
}

/* Add counter to examples */
h1 {
  /* Set "my-sec-counter" to 0 */
  counter-reset: ex-counter par-counter;
}

.ref::before {
	counter-increment: par-counter;
	content: attr(id) " ";
	color: #2980B9;
}

.exp::before {
	counter-increment: ex-counter;
	content: "(" counter(ex-counter) ") ";
	color: #2980B9;
}

.hide::before {
	content: none !important;
}

/* Add support for tengwar */
@font-face {
  font-family: "tengwar";
  src:  url('./font/TengwarAnnatarParmaquesta.ttf') format('truetype');
}

.tengwar {
	font-family: 'tengwar';
	border-bottom: none !important;
}

.admonition-title: {
	font-weight: normal;
}

.admonition.danger>.admonition-title:before {
	font-family: 'Font Awesome\ 5 Free';
	content: "\f7e4";
	font-weight: 900;}
.admonition.tip>.admonition-title:before {
	font-family: 'Font Awesome\ 5 Free';
	content: "\f12e";
	font-weight: 900;}
.admonition.warning>.admonition-title:before {
	font-family: 'Font Awesome\ 5 Free';
	content: "\f071";
	font-weight: 900;}
.admonition.note>.admonition-title:before {
	font-family: 'Font Awesome\ 5 Free';
	content: "\f05a";
	font-weight: 900;}
.admonition.attention>.admonition-title:before {
	font-family: 'Font Awesome\ 5 Free';
	content: "\f085";
	font-weight: 900;}
.admonition.important>.admonition-title:before {
	font-family: 'Font Awesome\ 5 Free';
	content: "\f5da";
	font-weight: 900;}
.admonition.error>.admonition-title:before {
	font-family: 'Font Awesome\ 5 Free';
	content: "\f017";
	font-weight: 900;}
	
.ncn {
	color: blue !important;
}